.ipynb_checkpoints/
.DS_store
*.pyc
Wrangle\ OpenStreetMap\ Data/*.csv
Wrangle\ OpenStreetMap\ Data/rhode-island-latest.osm
Wrangle\ OpenStreetMap\ Data/sample.osm
Wrangle\ OpenStreetMap\ Data/int_sample.osm
Wrangle\ OpenStreetMap\ Data/ri_osm.db

.RData
.Rhistory
